header{
    background-color: #0E1725;
    border-style:solid;
    border-color: #0E1725;
}
.menu{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    width: 150px;
	display: inline-flex;
}
.titulo{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 150px;
}
.titulo-descubra-mais{
    color: white;
    line-height: 2px;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 32px;
}
.descubra-mais{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}
body{
    background: #1A2A44;
}
.menu-mor{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
.titulo1{
    margin-left: 10px;
    margin-right: 10px;
}
.seattle-grace{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 100px;
}
.titulo2{
    margin-left: 50px;
    margin-right: 50px;
}
.mercy-west{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}
.linha{
    margin-left: 40px;
}
.menu-mor2{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
.titulo3{
    margin-left: 50px;
    margin-right: 100px;
}
.denny{
    display: flex;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 100px;
}
.titulo4{
    margin-left: 10px;
    margin-right: 10px;
}
.grey-sloan{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    background-color:#0E1725 ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.elementos{
    margin-left: 30px;
    margin-top: 10px;
}
.logo-rodape{
    float: right;
    width: 250px;
    margin-right: 30px;
}
.voltar{
    float: center;
    color: white;
    margin-top: 40px;
    margin-right: 100px;
}